/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  font-family: var(--base-font), sans-serif;
  font-variation-settings: "wght" var(--weight-text-main);
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: var(--accent-font);
  border: 2px solid black;
  margin-block: 100px;
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.card {
  border: 2px solid #000;
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--weight-text-header);
}

.card__img {
  position: relative;
}

.card__img img {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  border-block: 2px solid #000;
}

.card__label {
  position: absolute;
  right: 25px;
  top: 25px;
  color: currentColor;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow:
    -1px 0 #fff,
    0 1px #fff,
    1px 0 #fff,
    0 -1px #fff;

  mix-blend-mode: hard-light;
}

.card__text {
  padding: 25px 25px 0;
  font-size: 18px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
  margin: 25px;
}

.card__icon-button {
  border-width: 0;
  background-color: transparent;
}

.like-icon {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 35px;
}

.button {
  border: 2px solid #000;
  font-family: var(--accent-font);
  font-size: 14px;
  color: currentColor;
  background-color: transparent;
}

.card__like-button {
  padding: 11px 35px;
}

.button__text {
}

.save-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 103px;
}

.save-block__button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18.5px 21px;
}

.save-block__button svg {
  display: block;
  block-size: 21px;
}

@media (width <= 375px) {

  .page {
    min-inline-size: 100%;
  }

  .card__title {
    padding-block-start: 4px;
    padding-block-end: 6px;
  }
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {

  .card__label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
} 
