/* 
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* пораменты кнопки */

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-inline-size: 127px;
  border: none;
  outline: var(--size-border-button) solid var(--base-color, #000);
  cursor: pointer;
  color: var(--base-color, #000);
  background-color: var(--bg-color, #fff);
  font-family: var(--accent-font);
  font-size: 14px;
}

.button::before,
.button::after {
  content: "";
  position: absolute;

  /* корректировка на ширину линии outline */

  block-size: calc(100% + (var(--size-border-button) * 2));
  inline-size: calc(100% + (var(--size-border-button) * 2));
}

.button::before {
  left: calc((var(--size-border-button) * 2) * -1);
  top: calc((var(--size-border-button) * 2) * -1);
  background-color: transparent;
  box-shadow: 2px 2px 0 var(--base-color, #000);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.button::after {
  top: calc(var(--size-border-button) * -1);
  left: calc(var(--size-border-button) * -1);
  background-color: var(--base-color, #000);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
}

.button:focus {
  outline: var(--size-border-button) solid var(--base-color, #000);
}

.button:focus-visible::before {
  transform: translate(var(--size-border-button), var(--size-border-button));
  opacity: 1;
}

.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  inline-size: 100%;
  color: var(--bg-color);
  mix-blend-mode: difference;
  z-index: 1;
}

/* фильтры */

.filter-blur {
  filter: blur(0.3rem);
}

.filter-grayscale {
  filter: grayscale(0.9);
}

.filter-invert {
  filter: invert(0.9);
}

.filter-contrast-brightness {
  filter: contrast(1.2) brightness(1.1);
}

.filter-brightness-hue-rotate {
  filter: hue-rotate(-90deg) brightness(1.4);
}

.filter-brightness-hue-rotate_2 {
  filter: hue-rotate(90deg) brightness(1.5);
}

.filter-saturate {
  filter: saturate(5);
}

.filter-sepia {
  filter: sepia(50%);
}

.filter-hue-rotate {
  filter: hue-rotate(290deg);
}

.filter-radial-gradient-center::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
    circle,
    #ffc846 20%,
    transparent 70%,
    #212136 85%
  );
  mix-blend-mode: color;
  block-size: 100%;
}

.filter-grayscale-linear-gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(#000 10%, transparent 40% 70%, #000 90%);
  filter: grayscale(1);
  mix-blend-mode: color;
  inline-size: 100%;
  block-size: 100%;
}

.filter-radial-gradient-bottom::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
    at bottom,
    transparent 75%,
    #eeb4e9,
    #41c0c0,
    #cafbfb,
    #e4d0a0,
    #4343e0
  );
  mix-blend-mode: multiply;
  inline-size: 100%;
  block-size: 100%;
}

/* пораметры страници */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-block-size: 100dvb;
  min-inline-size: 320px;
  background-color: var(--bg-color, #fff);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  font-family: var(--base-font, sans-serif);
  font-variation-settings: "wght" var(--weight-font-normal, 400);
}

/* заголовок */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  inline-size: 100%;
  margin-block: 100px;
  max-inline-size: 700px;
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  border: 2px solid var(--base-color, #000);
  color: var(--base-color);
  background-color: var(--bg-color, #fff);
  font-family: var(--accent-font, sans-serif);
  text-transform: uppercase;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/* секция */

.card {
  max-inline-size: 700px;
  margin-block-end: 50px;
  border: 2px solid var(--base-color, #000);
  color: var(--base-color, #000);
  background-color: var(--bg-color, #fff);
}

.card:last-of-type {
  margin-block-end: 0;
}

/* заголовок секции */

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: "wght" var(--weight-font-bold, 700);
}

/* изображение секции */

.card__image-wrapper {
  position: relative;
  margin-block-end: 26px;
  border-block: 2px solid var(--base-color, #000);
}

.card__image-wrapper__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card__image-wrapper__label {
  display: none;
}

.card__image-wrapper__image + .card__image-wrapper__label {
  position: absolute;
  display: block;
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  top: 25px;
  color: currentColor;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  text-shadow:
    -1px 0 var(--bg-color, #fff),
    0 1px var(--bg-color, #fff),
    1px 0 var(--bg-color, #fff),
    0 -1px var(--bg-color, #fff);
  mix-blend-mode: hard-light;
}

/* текст секции */

.card__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px 25px 0;
  font-size: 18px;
  line-height: 21px;
}

/* like секции */

.card__like-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
  margin: 26px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon {
  min-block-size: 34px;
  block-size: 100%;
}

.card__icon-button:focus-visible .like-icon {
  outline: var(--size-border-button) solid var(--base-color);
}

.card__like-button {
  padding-block: 10px;
}

/* сердце */

.core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .core {
  fill: currentColor;
  transition: fill 0.03s linear;
}

.card__icon-button:active .core,
.button:active .core {
  fill: var(--like-icon-active-color);
  transition: fill 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: currentColor;
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .main-body:not(.is-liked) {
  fill: var(--like-icon-active-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .contour {
  fill: var(--like-icon-contour-color, #000);
  transition: fill 0.3s 0.06s linear;
}

.sparks {
  opacity: 0;
  transition: fill 0.3s 0.3s linear;
}

.is-liked .heart * {
  fill: var(--like-icon-active-color);
  transition: fill 0.3s linear;
}

.card__icon-button .is-liked {
  animation-name: zoom-in-animation;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.card__icon-button .is-liked .sparks {
  animation-name: fade-in-animation;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

/* кнопка сохранить на память */

.save-block {
  display: flex;
  justify-content: center;
  align-items: center;
  max-inline-size: 700px;
  padding: 52px 0 103px;
}

.save-button {
  min-inline-size: clamp(19.125rem, 18.4648rem + 2.8169vw, 21rem);
  padding-block: 15px;
}

.save-button__image {
  block-size: 21px;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

/* диалоговое окно */

.dialog-save {
  inline-size: 357px;
  padding: 30px;
  border: 2px solid var(--base-color);
  color: var(--base-color);
  background-color: var(--bg-color);
}

.dialog-save__form {
  display: grid;
  grid-template-columns: min-content 2fr;
  justify-content: space-between;
  align-content: center;
  gap: 30px 20px;
}

.dialog-save:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog-save::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-save__image {
  inline-size: 39px;
  align-self: center;
  aspect-ratio: 1 / 1;
}

.dialog-save__title {
  justify-self: start;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog-save__button {
  grid-column: 1 / -1;
  min-block-size: 38px;
  text-align: center;
  text-transform: uppercase;
}

@supports (
  (text-stroke: 1px var(--bg-color, #fff)) or
    (-webkit-text-stroke: 1px var(--bg-color, #fff))
) {

  .card__label {
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-stroke: 1px var(--bg-color, #fff);
    text-shadow: none;
  }
}

@media (width <= 400px) {

  .page {
    display: block;
  }

  .card__title {
    padding-block-end: 3px;
  }

  .save-button .button__text {
    flex-direction: column;
  }

  .save-button__image {
    block-size: 30px;
  }
}
