/* В этом файле хранятся все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --base-font: "inter-variable", sans-serif;
  --accent-font: "pressstart2p", sans-serif;
  --weight-font-bold: 700;
  --weight-font-normal: 400;
  --bg-color: #fff;
  --base-color: #000;
  --size-border-button: 2px;
  --bg-image: 
    repeating-linear-gradient(to left, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to top, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);

  /* переменные иконки сердца */

  --like-icon-sparks-color: #f00;
  --like-icon-contour-color: #000;
  --like-icon-active-color: #f00;
}
